In [1]:
# Imports
import pandas as pd
import numpy as np
from IPython.display import HTML, display
import warnings
import os
import time
from sklearn.model_selection import KFold
from sklearn.linear_model import LassoCV, LassoLarsCV, RidgeCV
from sklearn.ensemble import ExtraTreesRegressor, RandomForestRegressor, GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score
from xgboost import XGBRegressor, DMatrix

# Visualization options
pd.set_option('display.float_format', lambda x: '%.5f' % x)
pd.set_option('display.max_columns', None)
%matplotlib inline
display(HTML("<style>.container { width: 90% !important; }</style>"))
warnings.filterwarnings("ignore")

# Global variables
SEED = 420
N_JOBS = 18
FOLDS = 10

C:\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

<b>Functions</b>

In [2]:
# Stack all single Level 1 models OOF and test preds as entries for a Level 2 model
def get_level_one_data(oof_preds_dir, oof_targets_dir, preds_dir) :
    level_one_preds = pd.DataFrame()
    i = 0
    for file_name in sorted(os.listdir(oof_preds_dir)) :
        preds_OOF = pd.read_csv(oof_preds_dir + file_name)
        cur_preds_OOF = pd.Series(preds_OOF.y, name = file_name[0:7])
        level_one_preds = pd.concat([level_one_preds, cur_preds_OOF], axis = 1)
        i += 1

    level_one_targets = pd.DataFrame()
    i = 0
    for file_name in sorted(os.listdir(oof_targets_dir)) :
        targets_OOF = pd.read_csv(oof_targets_dir + file_name)
        cur_targets_OOF = pd.Series(targets_OOF.y, name = file_name[0:7])
        level_one_targets = pd.concat([level_one_targets, cur_targets_OOF], axis = 1)
        i += 1

    # Same for test set preds
    level_one_test = pd.DataFrame()
    i = 0
    for file_name in sorted(os.listdir(preds_dir)) :
        preds_test = pd.read_csv(preds_dir + file_name)
        cur_preds_test = pd.Series(preds_test.y, name = file_name[0:7])
        level_one_test = pd.concat([level_one_test, cur_preds_test], axis = 1)
        i += 1
    
    return(level_one_preds, level_one_targets, level_one_test)

In [3]:
def get_cv_score(model, X_train, X_train_y) :
    oof_preds = pd.DataFrame()
    oof_targets = pd.DataFrame()
    kf = KFold(n_splits = FOLDS, shuffle = True, random_state = SEED)
    for i, (train_index, test_index) in enumerate(kf.split(X_train)):
        #print("FOLD " + str(i + 1))
        X_train_fold, X_test_fold = X_train.iloc[train_index], X_train.iloc[test_index]
        y_train_fold, y_test_fold = X_train_y.iloc[train_index], X_train_y.iloc[test_index]

        # Fit and predict
        model.fit(X_train_fold, y_train_fold)
        preds_X_test_fold = model.predict(X_test_fold)
        
        # Assemble OOF predictions and targets
        oof_preds = pd.concat([pd.Series(oof_preds), pd.Series(preds_X_test_fold)], axis = 0)
        oof_targets = pd.concat([pd.Series(oof_targets), pd.Series(y_test_fold)], axis = 0)
        
    # Compute error on concatenated OOF predictions
    cv_score = r2_score(oof_targets, oof_preds)
    print("Global OOF r2_score : " + str(cv_score))
                    
    return(cv_score)

In [4]:
def replace_probed_y(row):
    if (np.isnan(row["y_y"])) :
        return (row["y_x"])
    else :
        return (row["y_y"])

<b>Models</b>

In [5]:
models = {
    "la" : LassoCV(eps = 0.0001, 
                   n_alphas = 100, 
                   max_iter = 10000, 
                   tol = 0.0001,                     
                   normalize = True, 
                   precompute = True, 
                   random_state = SEED,
                   n_jobs = N_JOBS),
    "ll" : LassoLarsCV(max_n_alphas = 1000, 
                       max_iter = 10000,
                       normalize = True, 
                       precompute = True, 
                       n_jobs = N_JOBS),
    "ri" : RidgeCV(alphas = [0.0001, 0.0003, 0.0006, 0.001, 0.003, 0.006, 0.01, 0.03, 0.06, 0.1, 0.3, 0.6, 1, 3, 6],
                   normalize = True),
    "rf" : RandomForestRegressor(n_estimators = 200,
                                 criterion = "mse", 
                                 max_features = 0.75,
                                 max_depth = 8,
                                 min_samples_split = 5,
                                 min_samples_leaf = 2, 
                                 bootstrap = True, 
                                 n_jobs = N_JOBS, 
                                 random_state = SEED),
    "et" : ExtraTreesRegressor(n_estimators = 200,
                               criterion = "mse", 
                               max_features = 0.75,
                               max_depth = 8,
                               min_samples_split = 5,
                               min_samples_leaf = 2, 
                               bootstrap = True, 
                               n_jobs = N_JOBS, 
                               random_state = SEED), 
    "kn" : KNeighborsRegressor(n_neighbors = 100, 
                               weights = "distance", 
                               p = 3, 
                               n_jobs = N_JOBS), 
    "xg" : XGBRegressor(objective = "reg:linear", 
                        learning_rate = 0.03, 
                        n_estimators = 200, 
                        max_depth = 8,
                        min_child_weight = 2, 
                        subsample = 0.75, 
                        colsample_bytree = 0.75, 
                        colsample_bylevel = 0.75, 
                        nthread = N_JOBS,
                        seed = SEED)
#    "gb" : GradientBoostingRegressor(loss = "ls", 
#                                     learning_rate = 0.03, 
#                                     n_estimators = 200, 
#                                     max_depth = 8,
#                                     criterion = "friedman_mse",
#                                     min_samples_split = 5,
#                                     min_samples_leaf = 2,
#                                     subsample = 0.75,
#                                     max_features = 0.75, 
#                                     random_state = SEED),
}

<b>Script</b>

In [6]:
# Get data
init_test = pd.read_csv("raw_data/test.csv")
test_ids = init_test.ID.values

In [7]:
# Define probe df
probe_ids = [1, 12, 23, 28, 42, 
             43, 45, 57, 72, 78, 
             88, 89, 93, 94, 104, 
             105, 110, 253, 259, 262, 
             289, 337, 409, 437, 488, 
             493, 973, 1001, 1004, 1008, 
             1009, 1259, 1644, 1652, 1664, 
             2129, 2342, 3853, 3977, 4193, 
             4958, 4960, 7055, 7805, 8002, 
             8007, 8416]
probe_values = [71.34112, 109.30903, 115.21953, 92.00675, 87.73572, 
                129.79876, 99.55671, 116.02167, 110.54742, 125.28849, 
                90.33211, 130.55165, 105.79792, 103.04672, 92.37968, 
                108.5069, 87.70757, 115.93724, 93.33662, 75.35182, 
                89.27667, 101.23135, 91.00760, 85.96960, 113.39009, 
                108.40135, 106.76189, 111.65212, 91.472, 106.71967, 
                108.21841, 112.3909, 99.14157, 89.77625, 112.93977, 
                112.03, 93.06, 105.481283411, 132.08556, 132.78216, 
                113.58711, 89.83957, 91.549, 105.8472, 95.84858, 
                87.44019, 96.84773]
new_train = init_test[init_test["ID"].isin(probe_ids)]
new_y = pd.DataFrame({"y" : probe_values})
new_y.set_index(new_train.index, inplace = True)
probe_df = pd.concat([new_train, new_y], axis = 1)

In [8]:
# Prepare process
oof_preds_dirs = []
oof_targets_dirs = []
preds_dirs = []

oof_preds_dirs.append("oof_preds/dc1_4/")
oof_preds_dirs.append("oof_preds/dc5_8/")
oof_preds_dirs.append("oof_preds/dc9_12/")
oof_preds_dirs.append("oof_preds/dc13_16/")

oof_targets_dirs.append("oof_targets/dc1_4/")
oof_targets_dirs.append("oof_targets/dc5_8/")
oof_targets_dirs.append("oof_targets/dc9_12/")
oof_targets_dirs.append("oof_targets/dc13_16/")

preds_dirs.append("preds/dc1_4/")
preds_dirs.append("preds/dc5_8/")
preds_dirs.append("preds/dc9_12/")
preds_dirs.append("preds/dc13_16/")

In [9]:
# Run stacker
for i in range(len(oof_preds_dirs)) :
    print("********************")
    oof_preds_dir = oof_preds_dirs[i]
    oof_targets_dir = oof_targets_dirs[i]
    preds_dir = preds_dirs[i]

    # Create Level 2 inputs
    level_one_preds, level_one_targets, level_one_test = get_level_one_data(oof_preds_dir, oof_targets_dir, preds_dir)
    display(level_one_preds.head(2))
    print(level_one_preds.shape)
    
    # Get error of each OOF column
    for col in level_one_preds.columns :
        cv_score = r2_score(level_one_targets[col], level_one_preds[col])
        print("Global OOF r2_score for " + col + " : " + str(cv_score))

    # Try different level 2 models
    for model_name, model  in models.items() :
        print("***** MODEL : " + model_name + " *****")

        # Get CV score
        cv_score = get_cv_score(model, level_one_preds, level_one_targets.iloc[:, 0])

        # Fit, predict
        model.fit(level_one_preds, level_one_targets.iloc[:, 0])
        preds = model.predict(level_one_test)
        
        # Handle format problems
        #if isinstance(model, (RidgeCV, KNeighborsRegressor)) :
        #    preds = pd.DataFrame(preds).iloc[:, 0].values            
                        
        # Modify probed values
        conf_name = oof_preds_dirs[i].split("/")[1]
        file_name = "ens_preds/stacker_" + conf_name + "_" + model_name + ".csv"
        final_preds = pd.DataFrame({"ID": init_test.ID.values, "y": pd.DataFrame(preds)[0]})
        final_preds = pd.merge(final_preds, probe_df[["ID", "y"]], how = "left", on = "ID")
        final_preds["y"] = final_preds.apply(replace_probed_y, axis = 1)
        final_preds.drop(["y_x", "y_y"], axis = 1, inplace = True)

        # Save predictions
        final_preds.to_csv(file_name, index = False)
        display(final_preds.head(2))

********************

,et_dc1_,et_dc2_,et_dc3_,et_dc4_,la_dc1_,la_dc2_,la_dc3_,la_dc4_,ll_dc1_,ll_dc2_,ll_dc3_,ll_dc4_,rf_dc1_,rf_dc2_,rf_dc3_,rf_dc4_,xg_dc1_,xg_dc2_,xg_dc3_,xg_dc4_,ze_dc1_,ze_dc2_,ze_dc3_,ze_dc4_,zl_dc1_,zl_dc2_,zl_dc3_,zl_dc4_,zr_dc1_,zr_dc2_,zr_dc3_,zr_dc4_,zx_dc1_,zx_dc2_,zx_dc3_,zx_dc4_
0,116.13408,114.13028,116.18572,114.25545,115.39651,110.61552,115.39649,110.47323,115.42086,108.01324,115.43921,104.70043,114.68859,113.86919,117.25145,114.41533,115.41705,113.37335,119.43770,115.68615,114.52726,115.31362,114.53231,115.18735,115.70149,114.29528,116.25454,114.70613,114.47179,115.38637,115.25877,115.10238,114.87389,112.75110,116.03893,113.86649
1,113.33418,112.93224,113.40276,113.08442,114.19929,110.66778,114.19928,110.47323,114.20741,108.02133,114.21384,104.70043,112.07628,113.14277,112.31983,113.07338,111.84063,111.02529,111.50563,112.02895,114.61618,115.11454,114.58866,115.08703,114.22569,113.50603,114.40470,113.37642,112.36361,115.33690,112.84508,114.96566,112.05869,111.37788,112.27528,111.95670

(3953, 36)
Global OOF r2_score for et_dc1_ : 0.572600357478
Global OOF r2_score for et_dc2_ : 0.56949721826
Global OOF r2_score for et_dc3_ : 0.572999418005
Global OOF r2_score for et_dc4_ : 0.569112855322
Global OOF r2_score for la_dc1_ : 0.588467268349
Global OOF r2_score for la_dc2_ : 0.548622901878
Global OOF r2_score for la_dc3_ : 0.588467136131
Global OOF r2_score for la_dc4_ : 0.550172023209
Global OOF r2_score for ll_dc1_ : 0.588498942363
Global OOF r2_score for ll_dc2_ : 0.53041351412
Global OOF r2_score for ll_dc3_ : 0.588555948425
Global OOF r2_score for ll_dc4_ : 0.522219953052
Global OOF r2_score for rf_dc1_ : 0.572124235188
Global OOF r2_score for rf_dc2_ : 0.567171849033
Global OOF r2_score for rf_dc3_ : 0.574580627741
Global OOF r2_score for rf_dc4_ : 0.568533648688
Global OOF r2_score for xg_dc1_ : 0.564998266541
Global OOF r2_score for xg_dc2_ : 0.564896677099
Global OOF r2_score for xg_dc3_ : 0.565711036022
Global OOF r2_score for xg_dc4_ : 0.565157028005
Global OOF r2_score for ze_dc1_ : 0.574968738748
Global OOF r2_score for ze_dc2_ : 0.571724535364
Global OOF r2_score for ze_dc3_ : 0.574660153163
Global OOF r2_score for ze_dc4_ : 0.571502864089
Global OOF r2_score for zl_dc1_ : 0.57657664904
Global OOF r2_score for zl_dc2_ : 0.570346420249
Global OOF r2_score for zl_dc3_ : 0.578231751327
Global OOF r2_score for zl_dc4_ : 0.571470083558
Global OOF r2_score for zr_dc1_ : 0.576166685391
Global OOF r2_score for zr_dc2_ : 0.570428760049
Global OOF r2_score for zr_dc3_ : 0.578181823746
Global OOF r2_score for zr_dc4_ : 0.571499287279
Global OOF r2_score for zx_dc1_ : 0.57835024821
Global OOF r2_score for zx_dc2_ : 0.5704088512
Global OOF r2_score for zx_dc3_ : 0.577208439366
Global OOF r2_score for zx_dc4_ : 0.572660202643
***** MODEL : ri *****
Global OOF r2_score : 0.586695150802

   ID        y
0   1 71.34112
1   2 94.55080

***** MODEL : la *****
Global OOF r2_score : 0.588623997412

   ID        y
0   1 71.34112
1   2 94.29094

***** MODEL : kn *****
Global OOF r2_score : 0.579140380762

   ID        y
0   1 71.34112
1   2 94.05526

***** MODEL : xg *****
Global OOF r2_score : 0.570445556658

   ID        y
0   1 71.34112
1   2 92.44220

***** MODEL : rf *****
Global OOF r2_score : 0.576087383676

   ID        y
0   1 71.34112
1   2 94.32632

***** MODEL : et *****
Global OOF r2_score : 0.582949056862

   ID        y
0   1 71.34112
1   2 93.73099

***** MODEL : ll *****
Global OOF r2_score : 0.588667324367

   ID        y
0   1 71.34112
1   2 94.26390

********************

,et_dc5_,et_dc6_,et_dc7_,et_dc8_,la_dc5_,la_dc6_,la_dc7_,la_dc8_,ll_dc5_,ll_dc6_,ll_dc7_,ll_dc8_,rf_dc5_,rf_dc6_,rf_dc7_,rf_dc8_,xg_dc5_,xg_dc6_,xg_dc7_,xg_dc8_,ze_dc5_,ze_dc6_,ze_dc7_,ze_dc8_,zl_dc5_,zl_dc6_,zl_dc7_,zl_dc8_,zr_dc5_,zr_dc6_,zr_dc7_,zr_dc8_,zx_dc5_,zx_dc6_,zx_dc7_,zx_dc8_
0,114.45067,116.13996,116.24139,116.04562,113.64166,111.46099,113.64166,111.49254,113.63858,110.79612,113.63858,111.70971,113.11896,117.72675,114.27504,115.98479,111.46647,113.76937,113.04165,115.16785,115.05325,117.22510,115.56738,117.03989,114.17104,115.68138,115.10333,114.03453,113.04330,119.11934,114.26909,117.05982,111.11142,115.20426,112.59521,113.82699
1,113.55838,112.33676,113.08744,112.44963,115.40216,112.17064,115.40217,112.27709,115.40534,110.77531,115.40534,112.06318,114.29394,112.97736,113.95260,112.44378,113.73627,112.57890,112.47257,112.63216,113.76431,113.71868,113.54110,113.19984,116.21919,114.84463,116.87978,115.55828,114.56918,113.54182,115.02518,113.12045,114.81275,112.89758,116.01717,113.29425

(3911, 36)
Global OOF r2_score for et_dc5_ : 0.573266659609
Global OOF r2_score for et_dc6_ : 0.570046349556
Global OOF r2_score for et_dc7_ : 0.572714809399
Global OOF r2_score for et_dc8_ : 0.570165875463
Global OOF r2_score for la_dc5_ : 0.589199490928
Global OOF r2_score for la_dc6_ : 0.552576201935
Global OOF r2_score for la_dc7_ : 0.589199548943
Global OOF r2_score for la_dc8_ : 0.553238938818
Global OOF r2_score for ll_dc5_ : 0.589294859787
Global OOF r2_score for ll_dc6_ : 0.534845839354
Global OOF r2_score for ll_dc7_ : 0.589354738638
Global OOF r2_score for ll_dc8_ : 0.532249067099
Global OOF r2_score for rf_dc5_ : 0.569976670549
Global OOF r2_score for rf_dc6_ : 0.565657243398
Global OOF r2_score for rf_dc7_ : 0.573755763549
Global OOF r2_score for rf_dc8_ : 0.569944956905
Global OOF r2_score for xg_dc5_ : 0.565180063288
Global OOF r2_score for xg_dc6_ : 0.556619230532
Global OOF r2_score for xg_dc7_ : 0.564171403775
Global OOF r2_score for xg_dc8_ : 0.561883823855
Global OOF r2_score for ze_dc5_ : 0.575306055568
Global OOF r2_score for ze_dc6_ : 0.571711867593
Global OOF r2_score for ze_dc7_ : 0.574843802584
Global OOF r2_score for ze_dc8_ : 0.572362500847
Global OOF r2_score for zl_dc5_ : 0.576287385965
Global OOF r2_score for zl_dc6_ : 0.57095974918
Global OOF r2_score for zl_dc7_ : 0.577337826405
Global OOF r2_score for zl_dc8_ : 0.57235862761
Global OOF r2_score for zr_dc5_ : 0.575816684582
Global OOF r2_score for zr_dc6_ : 0.570548573823
Global OOF r2_score for zr_dc7_ : 0.577840542711
Global OOF r2_score for zr_dc8_ : 0.571887751161
Global OOF r2_score for zx_dc5_ : 0.577832315476
Global OOF r2_score for zx_dc6_ : 0.569530986721
Global OOF r2_score for zx_dc7_ : 0.579007440047
Global OOF r2_score for zx_dc8_ : 0.572193676088
***** MODEL : ri *****
Global OOF r2_score : 0.58799184576

   ID        y
0   1 71.34112
1   2 93.29043

***** MODEL : la *****
Global OOF r2_score : 0.589006350016

   ID        y
0   1 71.34112
1   2 93.76840

***** MODEL : kn *****
Global OOF r2_score : 0.581117754112

   ID        y
0   1 71.34112
1   2 93.61209

***** MODEL : xg *****
Global OOF r2_score : 0.575882624955

   ID        y
0   1 71.34112
1   2 92.26979

***** MODEL : rf *****
Global OOF r2_score : 0.577831978494

   ID        y
0   1 71.34112
1   2 92.84757

***** MODEL : et *****
Global OOF r2_score : 0.584581256866

   ID        y
0   1 71.34112
1   2 93.26860

***** MODEL : ll *****
Global OOF r2_score : 0.589135070765

   ID        y
0   1 71.34112
1   2 93.77015

********************

,et_dc10,et_dc11,et_dc12,et_dc9_,la_dc10,la_dc11,la_dc12,la_dc9_,ll_dc10,ll_dc11,ll_dc12,ll_dc9_,rf_dc10,rf_dc11,rf_dc12,rf_dc9_,xg_dc10,xg_dc11,xg_dc12,xg_dc9_,ze_dc10,ze_dc11,ze_dc12,ze_dc9_,zl_dc10,zl_dc11,zl_dc12,zl_dc9_,zr_dc10,zr_dc11,zr_dc12,zr_dc9_,zx_dc10,zx_dc11,zx_dc12,zx_dc9_
0,114.85678,114.98177,114.42788,115.46676,112.03870,112.08731,111.91761,112.08724,109.05130,112.05932,110.18812,112.05650,119.47159,117.04063,116.68564,119.57778,121.35492,120.84338,120.12239,123.97044,113.28897,113.32631,113.02886,113.64227,112.60036,113.01546,112.23800,115.13210,114.50394,114.10708,113.98318,115.12509,115.72392,114.71352,114.28472,120.28717
1,112.18253,111.96100,111.53466,112.36859,112.68629,111.47708,111.95564,111.47703,109.40543,111.46920,111.23203,111.46842,113.85367,114.00015,113.88888,113.62114,113.95358,114.29996,113.86963,111.56915,112.32283,112.06589,111.89131,112.39659,114.90832,113.73597,113.74587,113.44306,113.22259,113.56120,112.95125,113.12255,113.59009,113.37076,113.35400,111.84917

(4256, 36)
Global OOF r2_score for et_dc10 : 0.560934010843
Global OOF r2_score for et_dc11 : 0.563664062419
Global OOF r2_score for et_dc12 : 0.560809641914
Global OOF r2_score for et_dc9_ : 0.564630020252
Global OOF r2_score for la_dc10 : 0.558537475667
Global OOF r2_score for la_dc11 : 0.581673030285
Global OOF r2_score for la_dc12 : 0.55766286836
Global OOF r2_score for la_dc9_ : 0.581740299839
Global OOF r2_score for ll_dc10 : 0.523361850702
Global OOF r2_score for ll_dc11 : 0.581691062679
Global OOF r2_score for ll_dc12 : 0.536840856246
Global OOF r2_score for ll_dc9_ : 0.581653684042
Global OOF r2_score for rf_dc10 : 0.559147985309
Global OOF r2_score for rf_dc11 : 0.566022537383
Global OOF r2_score for rf_dc12 : 0.56036283879
Global OOF r2_score for rf_dc9_ : 0.564071493423
Global OOF r2_score for xg_dc10 : 0.552616613884
Global OOF r2_score for xg_dc11 : 0.562122026962
Global OOF r2_score for xg_dc12 : 0.556242846329
Global OOF r2_score for xg_dc9_ : 0.557551822905
Global OOF r2_score for ze_dc10 : 0.563858084493
Global OOF r2_score for ze_dc11 : 0.567213877708
Global OOF r2_score for ze_dc12 : 0.563029376985
Global OOF r2_score for ze_dc9_ : 0.567498163823
Global OOF r2_score for zl_dc10 : 0.564289385934
Global OOF r2_score for zl_dc11 : 0.570137740387
Global OOF r2_score for zl_dc12 : 0.564379103167
Global OOF r2_score for zl_dc9_ : 0.570732193351
Global OOF r2_score for zr_dc10 : 0.565681437786
Global OOF r2_score for zr_dc11 : 0.569645778804
Global OOF r2_score for zr_dc12 : 0.564086612403
Global OOF r2_score for zr_dc9_ : 0.568801432515
Global OOF r2_score for zx_dc10 : 0.565878107439
Global OOF r2_score for zx_dc11 : 0.571379243936
Global OOF r2_score for zx_dc12 : 0.564568583534
Global OOF r2_score for zx_dc9_ : 0.57080908051
***** MODEL : ri *****
Global OOF r2_score : 0.580334830489

   ID        y
0   1 71.34112
1   2 93.07151

***** MODEL : la *****
Global OOF r2_score : 0.581035291505

   ID        y
0   1 71.34112
1   2 93.84590

***** MODEL : kn *****
Global OOF r2_score : 0.575672034722

   ID        y
0   1 71.34112
1   2 96.33646

***** MODEL : xg *****
Global OOF r2_score : 0.568088669404

   ID        y
0   1 71.34112
1   2 93.92741

***** MODEL : rf *****
Global OOF r2_score : 0.570916998249

   ID        y
0   1 71.34112
1   2 96.67421

***** MODEL : et *****
Global OOF r2_score : 0.57831084656

   ID        y
0   1 71.34112
1   2 96.39164

***** MODEL : ll *****
Global OOF r2_score : 0.581083537451

   ID        y
0   1 71.34112
1   2 93.86867

********************

,et_dc13,et_dc14,et_dc15,et_dc16,la_dc13,la_dc14,la_dc15,la_dc16,ll_dc13,ll_dc14,ll_dc15,ll_dc16,rf_dc13,rf_dc14,rf_dc15,rf_dc16,xg_dc13,xg_dc14,xg_dc15,xg_dc16,ze_dc13,ze_dc14,ze_dc15,ze_dc16,zl_dc13,zl_dc14,zl_dc15,zl_dc16,zr_dc13,zr_dc14,zr_dc15,zr_dc16,zx_dc13,zx_dc14,zx_dc15,zx_dc16
0,93.84978,93.86084,93.92445,93.80251,94.68402,95.13141,94.66903,95.34255,94.67848,95.54637,94.67470,95.54123,93.93210,94.05836,94.37814,93.84041,94.26835,94.05815,94.16409,94.79631,94.12021,94.01554,93.85426,93.68988,94.79436,95.68257,95.50095,95.41343,94.35216,94.16589,94.50588,94.09573,94.25036,95.16053,95.07507,94.57716
1,93.78679,93.88178,93.84461,93.74212,94.68402,95.61431,94.66903,95.20582,94.67848,96.10846,94.67470,95.53832,94.22226,94.63810,94.15017,93.92321,96.63270,95.33356,94.56316,94.70465,94.09648,94.02460,93.84053,93.73856,93.83572,94.97057,94.28109,94.84468,94.22514,94.21772,94.16040,94.09576,94.86374,94.76603,94.24782,94.72537

(4209, 36)
Global OOF r2_score for et_dc13 : 0.56833788137
Global OOF r2_score for et_dc14 : 0.567201128191
Global OOF r2_score for et_dc15 : 0.56871831139
Global OOF r2_score for et_dc16 : 0.567136181641
Global OOF r2_score for la_dc13 : 0.582247141372
Global OOF r2_score for la_dc14 : 0.566013706864
Global OOF r2_score for la_dc15 : 0.582436417144
Global OOF r2_score for la_dc16 : 0.565794115392
Global OOF r2_score for ll_dc13 : 0.582304687756
Global OOF r2_score for ll_dc14 : 0.534194872518
Global OOF r2_score for ll_dc15 : 0.58239370996
Global OOF r2_score for ll_dc16 : 0.542533148316
Global OOF r2_score for rf_dc13 : 0.564452366033
Global OOF r2_score for rf_dc14 : 0.561725084315
Global OOF r2_score for rf_dc15 : 0.568633845006
Global OOF r2_score for rf_dc16 : 0.56645038039
Global OOF r2_score for xg_dc13 : 0.557136680385
Global OOF r2_score for xg_dc14 : 0.549924384186
Global OOF r2_score for xg_dc15 : 0.561992506787
Global OOF r2_score for xg_dc16 : 0.559730978313
Global OOF r2_score for ze_dc13 : 0.57234842236
Global OOF r2_score for ze_dc14 : 0.570396263917
Global OOF r2_score for ze_dc15 : 0.571050941424
Global OOF r2_score for ze_dc16 : 0.568719369335
Global OOF r2_score for zl_dc13 : 0.572251221423
Global OOF r2_score for zl_dc14 : 0.567314209796
Global OOF r2_score for zl_dc15 : 0.571842558259
Global OOF r2_score for zl_dc16 : 0.567532970339
Global OOF r2_score for zr_dc13 : 0.571501095704
Global OOF r2_score for zr_dc14 : 0.568463297967
Global OOF r2_score for zr_dc15 : 0.573088073429
Global OOF r2_score for zr_dc16 : 0.570687210466
Global OOF r2_score for zx_dc13 : 0.572703765506
Global OOF r2_score for zx_dc14 : 0.567501932647
Global OOF r2_score for zx_dc15 : 0.574141582813
Global OOF r2_score for zx_dc16 : 0.568458716125
***** MODEL : ri *****
Global OOF r2_score : 0.585244113047

   ID        y
0   1 71.34112
1   2 84.93981

***** MODEL : la *****
Global OOF r2_score : 0.583670035197

   ID        y
0   1 71.34112
1   2 84.35426

***** MODEL : kn *****
Global OOF r2_score : 0.578635586326

   ID        y
0   1 71.34112
1   2 94.92351

***** MODEL : xg *****
Global OOF r2_score : 0.57246713873

   ID        y
0   1 71.34112
1   2 92.06858

***** MODEL : rf *****
Global OOF r2_score : 0.574843553589

   ID        y
0   1 71.34112
1   2 94.54255

***** MODEL : et *****
Global OOF r2_score : 0.580195546938

   ID        y
0   1 71.34112
1   2 94.44497

***** MODEL : ll *****
Global OOF r2_score : 0.583793090577

   ID        y
0   1 71.34112
1   2 84.40949